<%- include("header") -%>


<div class="container mt-5 ">
<div class="all row row-cols-3 justify-content-between">
  <div class="left ">



    <div><h1>Call On Us When You Need A Hand</h1></div>


    <div><p>Do you want to learn more? Speak to our team today.</p></div>


  <form>


     <label style="font-size:30px;" for="">First name</label>
     <input class="form-control" type="text">



     <label style="font-size:30px;" for="">Business email address</label>
     <input class="form-control" type="text">

     <label style="font-size:30px;" for="">Phone number</label>
     <input class="form-control" type="text">

     <label style="font-size:40px;" for="">Message </label>
   <textarea name="" id="" cols="50" rows="10"></textarea>


   <input  class="btn btn-success" type="submit" value="Submit">

    </form>



</div>


  <div style="border-radius:10px; padding:40px; background-color:rgb(236, 235, 235)" class="right">

   <div>  <h1>Get in touch</h1> </div>
   <div><h2>Call</h2></div>

   <div><a><h2> 1-800-297-8540 </h2></a></div>

   <hr>

   <div>  <h1>Support</h1> </div>
   <div><h2>hello@timeetc.com</h2></div>


   <hr>

   <div>  <h1>Media</h1> </div>
   <div><h2>pr@timeetc.com</h2></div>


   <hr>

   <div>  <h1>Mailing address</h1> </div>
   <div><h2> You can write to us at our New York offices: Time etc 511 Avenue of the Americas #4051New YorkNY 10011</h2></div>









   </div>



</div>

</div>

<%- include("footer") -%>
