
  <footer style="margin-top:150px;"  class="footer">
    <div class="container bottom_border">
    <div class="row">
    <div class=" col-sm-4 col-md col-sm-4  col-12 col">
    <h5 class="headin5_amrc col_white_amrc pt2">OverView</h5>
    <!--headin5_amrc-->


    <p> How it Works </p>
    <p> How an assistant can help </p>
    <p> About our assistants</p>
    <p> Tasks we can assist with</p>
    <p>Pricing</p>
    <p>Time etc for teams</p>



    </div>


    <div class=" col-sm-4 col-md  col-6 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Resources</h5>
    <!--headin5_amrc-->
    <ul class="footer_ul_amrc">
    <li><a href="/sba">Client success stories</li>
    <li><a href="/line">Guides, articles and resources</a></li>
    <li><a href="/term">Buy our books</a></li>
    <li><a href="/advance">Optimize your to-do list</a></li>
    <li><a href="/equip">Equipment Financing</a></li>
    <li><a href="/bridge">Take the achiever quiz</a></li>
    </ul>
    <!--footer_ul_amrc ends here-->
    </div>


    <div class=" col-sm-4 col-md  col-6 col">
    <h5 class="headin5_amrc col_white_amrc pt2">Company</h5>
    <!--headin5_amrc-->
    <ul class="footer_ul_amrc">
    <li><a href="#">About</a></li>
    <li><a href="/mission">Work for us</a></li>
    <li><a href="/faq">Affiliates</a></li>
    <li><a href="#">Media requests</a></li>
    <li><a href="#">Reviews</a></li>
    <li><a href="/part">Sell your VA business  </a></li>
    </ul>
    <!--footer_ul_amrc ends here-->
    </div>


    <div class=" row-cols-1  col-lg-3 col-sm-12 justify-content-center row  col-12 col">

       <br>

      <div> Let's talk   </div>
      <div>  1-800-297-8540 </div>
      <div>Book a consultation  </div>
      <div>Contact us </div>
      <hr>
        <button class="btn btn-dark  mt-3">Start Your Free Trial</button>



      </div>
    </div>
    </div>


    <div class="container">
       <!--foote_bottom_ul_amrc ends here-->
    <p class="text-center">Copyright @2017 | Designed With by <a href="#">NovaCapital</a></p>

    <ul class="social_footer_ul">
    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
    <li><a href=""><i class="fab fa-twitter"></i></a></li>
    <li><a href=""><i class="fab fa-linkedin"></i></a></li>
    <li><a href=""><i class="fab fa-instagram"></i></a></li>
    </ul>
    <!--social_footer_ul ends here-->
    </div>

    </footer>


       <div  style='display: none;'class="chat2">
         <div dir="rtl" class="chat">

           <i  style="font-size:80px; color:white;"  class="fas fa-comment-alt"></i>

           </div>


       </div>

   <div class="chat4">
    <div class="chat3">

           <div class="toolchat">

           <div style="display:flex;">
               <div >  <img width="65px" src="avatar.png"> </div>

                           <div>
                           <div class="user_name" style="color:rgb(28, 91, 224)">Admin</div>
                           <div style="color:rgb(69, 42, 165)"> <i style="color:rgb(1, 158, 1)" class="fas fa-circle"></i> online</div>
                           </div>
                           </div>

                           <i style="font-size: 35px;  color:white; margin-bottom: 20px; margin-left: 100px;" class="fas fa-window-minimize"></i> <i style="display:none;" class="fas fa-ellipsis-h"></i>     <i style="color:rgb(226, 104, 47); font-size:35px;" class="fas fa-times"></i>



               </div>

               <div class="toolchat2">

                   <div style="display:flex;">
                       <div >  <img width="65px" src="avatar.png"> </div>

                                   <div>
                                   <div  style="color:rgb(28, 91, 224)"></div>
                                   <div style="color:rgb(69, 42, 165)"> <i style="color:rgb(1, 158, 1)" class="fas fa-circle"></i> online</div>
                                   </div>
                                   </div>

                                   <i style="font-size: 35px;  color:white; margin-bottom: 20px; margin-left: 100px;" class="fas fa-window-minimize"></i> <i style="display:none;" class="fas fa-ellipsis-h"></i>     <i style="color:rgb(226, 104, 47); font-size:35px;" class="fas fa-times"></i>



                       </div>

      <div class="cont">


       <div class="user3">
       </div>

            <div class="user2" style="z-index: 6000; position: relative; height:200px;  width:400px; margin:auto; border-radius: 30px; background-color: bisque; justify-content: center; align-items: center; margin-bottom: 200px;; display:flex;  text-align: center; flex-direction: column;">

           <label style="font-size: 25px;">Enter your name please</label>
           <input style="width:50%; font-size:25px;" class="user form-control "  type = "text" >

            </div>



               <div class="real2">


                   <input class="message" style=" width:410px;font-size:20px; height:50px;" class="form-control" type="text">
                   <i style="cursor:pointer" class="send fas fa-paper-plane"></i>

               </div>
               </div>
           </div>
      </div>

   </div>





<script src="https://cdn.socket.io/4.5.3/socket.io.min.js" integrity="sha384-WPFUvHkB1aHA5TDSZi6xtDgkF0wXJcIIxXhC6h8OT8EH3fC5PWro5pWJ1THjcfEi" crossorigin="anonymous"></script>

<script  src="/jquery-3.6.1.min.js"></script>
<script  src="/jquery-ui.min.js"></script>


<script  src="/index.js"></script>

</body>


</html>
