
    <!-- head   -->
    <%-include("header") -%>

 <!--  Wall  -->
 <div class="wall" >






  <div class="container row row-cols-1 gap-3 text-center">
<div>   <h1 style="font-size:60px;">Ace Your Business</h1> </div>
<div>  <h2 style="font-weight:600">It’s time to concentrate on what matters most for your business and let us handle the rest!</h2> </div>
<div> <button class="btn btn-success btn-lg"> GIVE US A CALL!</button></div>

<hr>
</div>


 </div>
 <!--  Wall  -->

 <!--Body-->
 <div  class="container">


  <div class="photos2 row row-cols-lg-2 gy-5 mb-5  ">


    <div class="row">

      <img class="bike"  src="ace66.png">


     </div>




    <div>
      <h1 style="font-weight:bold;font-size:30px;"> No single virtual assistant provides the support, continuity, and enterprise-level security that Prialto delivers. </h1>

<h2 style="font-weight:600; font-size:25px">Scale your admin needs with a managed virtual assistant service that ensures consistently strong and proactive support to power success. Our consultative approach means your assistant(s) will make you and your team more productive without the need to manage another employee.</h2>

<h3 class="mt-4">Get executive, sales, operations, and other virtual assistant services for:</h3>

<ul style="font-weight:600 ; font-size:large; color:rgb(202, 131, 50)">
<li>Individuals</li>
<li>Teams & Organizations</li>
<li>Enterprise Teams</li>

</ul>


   </div>



</div>


<div   style="border-radius:30px; background:rgb(248, 247, 247);  padding:40px; color:rgb(78, 78, 78)"  class="row tsc text-center ">


  <div><h1 style="font-weight:600"> Resources to tackle admin staffing </h1></div>


   <div class="mt-4 mb-5"><p style="font-weight:bold; font-size:22px;">Is creating a more productive company on your mind? These resources will give you the guidance and resources you need to make the best hiring decisions.</p>  </div>



     <div class="row row-cols-lg-3  p-0 m-0 gy-5 justify-content-lg-between">

      <div class="row" style="padding:30px; background-color:white; border-radius: 10px;" >  <div class="row">  <img src="ace8.jpg" >  </div> <h3 style="font-size:20px; font-weight:600" class="mt-4 text-start">How to Eliminate Executive Assistant Turnover </h3> <p class="text-start">Executive assistants are hard to find, and turnover is high. Learn how to eliminate EA turnover and find your forever assistant.</p> <button class="mt-4 col-6 btn btn-secondary">Read more+</button>   </div>
      <div class="row" style="padding:30px; background-color:white; border-radius: 10px;" >  <div class="row">  <img src="ace10.webp" >  </div> <h3 style="font-size:20px; font-weight:600" class="mt-4 text-start">Remote Virtual Assistant vs In-House Employee  </h3> <p class="text-start">Trying to decide if you need an in-house executive admin or a virtual assistant? Learn the key difference here.</p> <button class="mt-4 col-6 btn btn-secondary">Read more+</button>   </div>
      <div class="row" style="padding:30px; background-color:white; border-radius: 10px;" >  <div class="row">  <img src="ace10.jpg" >  </div> <h3 style="font-size:20px; font-weight:600" class="mt-4 text-start">Advantages of Managed Virtual Assistant Services  </h3> <p class="text-start">There are two types of virtual assistant services: managed and unmanaged. Here’s when a managed virtual assistant service makes sense.</p> <button class="mt-4 col-6 btn btn-secondary">Read more+</button>   </div>

     </div>

<div> <button  class="mt-5 btn btn-success btn-lg ">Explore More</button>  </div>

</div>

<div class="mt-5 mb-5 row row-cols-lg-2 justify-content-center">


  <div class="box2">
    <h1 class="m-5 row">Ace Consulting</h1>

    <div class="m-5"><i class="fas fa-times"></i> <span>Diffcult</span>  </div>
    <div class="m-5"><i class="fas fa-times"></i> <span> Expensive </span>  </div>
    <div class="m-5"><i class="fas fa-times"></i> <span>Inflexible</span>  </div>
    <div class="m-5"><i class="fas fa-times"></i> <span> Difficult to cancel </span>  </div>



  </div>

  <div class="box">

    <h1 class="m-5">Hiring An Assitant</h1>
    <div class="m-5"><i class="fas fa-check"></i> <span>Diffcult</span>  </div>
    <div class="m-5"><i class="fas fa-check"></i> <span> Expensive </span>  </div>
    <div class="m-5"><i class="fas fa-check"></i> <span>Inflexible</span>  </div>
    <div class="m-5"><i class="fas fa-check"></i> <span> Difficult to cancel </span>  </div>




  </div>


</div>



  <div id="side" class="side row row-cols-lg-2 mt-5">




             <div id="left" class="leftto mt-5">
                  <h2 style="font-weight:600; ">Enhance your team and reclaim your time, it’s easy!</h2>
                 <p style="font-weight:500; font-size:20px;" class="mt-5">We have a large pool of virtual specialists with different skill sets, backgrounds and experiences. Once we understand what role you are looking to fill in your business, we will carefully choose a specialist that has, both, the skills and the experience to exceed your expectations!</p>
                 <p style="font-weight:500; font-size:20px;" class="mt-5">Not only, will our specialists exceed your expectations, it will cost you up to 85% less to keep them on payroll as opposed to full time US Employee.</p>

                     <button class="btn btn-success btn-lg">Try  Virtual Assasint For Free</button>


                    </div>

                    <div id="right" class="rightto row" class="mt-5">     <img src="ac5.png">     </div>



                </div>
  <!---      -->


                  <!--Body-->




                  <!--Body-->




</div>

<div id="aside" style="background-color:rgb(241, 241, 241) ; margin-top: 150px; width:100%; padding:40px; margin-bottom: 150px;">
<div class="container ">

  <div  class="benfit row row-cols-lg-2 row-cols-1 mb-5">



    <div class="mt-3 mb-5 text-first">

          <div class="mb-5">   <h1 style="font-weight: bold; color:rgb(57, 166, 255)">Our Some Services we offer<h1>  </div>

          <div style="font-size:25px;" class="text-first"> <i  style="color:rgb(11, 156, 72)" class="fas fa-check ico "></i> <span>Virtual assistant </span> </div>
           <hr>

          <div style="font-size:25px;" class="text-first"> <i style="color:rgb(11, 156, 72)" class="fas fa-check ico"></i> <span>Marketing</span> </div>
          <hr>


          <div style="font-size:25px;" class="text-first"> <i style="color:rgb(11, 156, 72)" class="fas fa-check ico"></i> <span>Inbound Sales</span> </div>
          <hr>


          <div style="font-size:25px;" class="text-first"> <i style="color:rgb(11, 156, 72)" class="fas fa-check ico"></i> <span>Outbound sales</span> </div>
          <hr>


          <div style="font-size:25px;" class="text-first"> <i style="color:rgb(11, 156, 72)" class="fas fa-check ico"></i> <span>Customer support </span> </div>

          <hr >

          <div style="font-size:25px;" class="text-first"> <i style="color:rgb(11, 156, 72)" class="fas fa-check ico"></i> <span>Outbound sales</span> </div>

          <hr >

          <div style="font-size:25px;" class="text-first"> <i style="color:rgb(11, 156, 72)" class="fas fa-check ico"></i> <span>CRM Admin</span> </div>



          <hr >

          <div style="font-size:25px;" class="text-first"> <i style="color:rgb(11, 156, 72)" class="fas fa-check ico"></i> <span>Human Resource</span> </div>


          <hr >

          <div style="font-size:25px;" class="text-first"> <i style="color:rgb(11, 156, 72)" class="fas fa-check ico"></i> <span>Transaction Coordinator </span> </div>



        </div>

     <div class="row">.
 <img   style="opacity:1; border-radius:100px;" src="ace5.webp">

     </div>



</div>
</div>
</div>


<div  class="container mt-5">

  <div class="row row-cols-lg-2">

             <div class="">
                    <h2 style="font-weight:600; ">The top 2% of assistants in the U.S are right here, ready to assist you.</h2>
                    <p style="font-weight:500; font-size:25px;" class="mt-5">Great entrepreneurs need brilliant assistants - and we're proud that Penni Pike, Executive Assistant to Sir Richard Branson for 32 years, is on our team.</p>
                    <p style="font-weight:500; font-size:25px;" class="mt-5">You need an assistant who has the right amount of experience, a good attitude and strong skills.</p>
                    <p  style="font-weight:500; font-size:25px;" class="mt-5"> That's why we're so picky; only the top 2% of assistants who want to work with us make it through.</p>
                     <button class="btn btn-success btn-lg">Try  Virtual Assasint For Free</button>


                    </div>

                    <div class="row">     <img src="ac2.jpg">     </div>



                </div>




              </div>
                <%-include("footer") -%>
