<%- include("header")  -%>

<!--  Wall  -->
<div class="wall2" >

    <div class="container row row-cols-1 gap-3 text-center">
  <div>   <h1 style="font-weight:bold">Flexible plans and pricing</h1> </div>
  <div>  <h2 style="font-weight:600">A real assistant, dedicated to you, for less than you might think. </h2> </div>
  <div> <button class="btn btn-success btn-lg"> Try Virtual assastant Now</button></div>

  <hr>
  </div>


   </div>

 <div class="container">

    <div class="table row row-cols-lg-4">

        <div class=>

            <h1>Ten hours</h1>
            <h1 style="font-weight:600; color:#464be1">$360 /month</h1>
           <p>That's $36 per hour</p>

           <div><i class="fas fa-check"></i> <span> Dedicated U.S. assistant </span></div>
           <div><i class="fas fa-check"></i> <span> Expertly matched to you </span></div>
           <div><i class="fas fa-check"></i> <span> Add extra assistants (free) </span></div>
           <div><i class="fas fa-check"></i> <span> Share with your team (free)  </span></div>
           <div><i class="fas fa-check"></i> <span>Complete satisfaction guarantee </span></div>
           <div><i class="fas fa-check"></i> <span> Switch plans or cancel any time</span></div>

             <button   class="row  btn btn-success" > Book Consultion  </button>

        </div>



        <div>

          <h1>Twenty hours</h1>
          <h1 style="font-weight:600; color:#464be1" >$700 /month</h1>
         <p>That's $35 per hour</p>

         <div><i class="fas fa-check"></i> <span>  Dedicated U.S. assistant  </span></div>
         <div><i class="fas fa-check"></i> <span> Expertly matched to you </span></div>
         <div><i class="fas fa-check"></i> <span> Add extra assistants (free) </span></div>
         <div><i class="fas fa-check"></i> <span> Share with your team (free)  </span></div>
         <div><i class="fas fa-check"></i> <span>Complete satisfaction guarantee </span></div>
         <div><i class="fas fa-check"></i> <span> Unused hours rollover  </span></div>

         <div><i class="fas fa-check"></i> <span> Switch plans or cancel any time</span></div>

         <button   class="row  btn btn-success" > Book Consultion  </button>



      </div>



      <div>

        <h1>Forty hours</h1>
        <h1 style="font-weight:600; color:#464be1" >$1360 /month</h1>
       <p>That's $36 per hour</p>

       <div><i class="fas fa-check"></i> <span> Dedicated U.S. assistant </span></div>
       <div><i class="fas fa-check"></i> <span> Expertly matched to you </span></div>
       <div><i class="fas fa-check"></i> <span> Add extra assistants (free) </span></div>
       <div><i class="fas fa-check"></i> <span> Share with your team (free)  </span></div>
       <div><i class="fas fa-check"></i> <span>Complete satisfaction guarantee </span></div>
       <div><i class="fas fa-check"></i> <span> Switch plans or cancel any time</span></div>



       <button   class="row  btn btn-success" > Book Consultion  </button>

    </div>




    <div>

      <h1>Sixty hours</h1>
      <h1 style="font-weight:600; color:#464be1" >$1980 /month</h1>
     <p>That's $33 per hour</p>

     <div><i class="fas fa-check"></i> <span> Dedicated U.S. assistant </span></div>
     <div><i class="fas fa-check"></i> <span> Expertly matched to you </span></div>
     <div><i class="fas fa-check"></i> <span> Add extra assistants (free) </span></div>
     <div><i class="fas fa-check"></i> <span> Share with your team (free)  </span></div>
     <div><i class="fas fa-check"></i> <span>Complete satisfaction guarantee </span></div>
     <div><i class="fas fa-check"></i> <span> Switch plans or cancel any time</span></div>

     <button   class="row  btn btn-success" > Book Consultion  </button>



  </div>



    </div>





    <div style="margin-top:200px !important;" class="much row row-cols-2 mt-5">
    <div class="mt-5">
       <h1 style="font-weight:600">Your money goes much further with a virtual assistant</h1>
      <p style="font-weight:bold;">Entrepreneurs who use Time etc save an average of 90% compared to hiring an assistant full-time.</p>
      <p style="font-weight:bold">That's because you only pay for work your Time etc assistant actually completes and you don't pay for coffee breaks, chit-chat, holidays or sickness.</p>

      <p style="font-weight:bold">With the average salary of an experienced executive assistant weighing in at $60,500* in 2022, it's time to stop throwing your money away and start saving. </p>

    </div>

 <div>

  <img src="ace8.webp">

 </div>


    </div>



   <div class="row mt-5 row-cols-xl-2">


 <div class="left2">
<img src="ace9.webp">
 </div>

 <div class="right2 mt-4">

 <div class="row"><i class=" fas fa-check"></i> <p >  Dedicated, experienced assistant, based in the U.S.</p></div>
 <hr>
 <div><i class="fas fa-check"></i> <p>  Carefully matched to you by our experts</p></div>
 <hr>
 <div><i class="fas fa-check"></i> <p>  Work together using email, text, phone or Zoom</p></div>
 <hr>

 <div><i class="fas fa-check"></i> <p>  Work with additional assistants, for free</p></div>
 <hr>

 <div><i class="fas fa-check"></i> <p>  Share your assistant with your team.</p></div>
 <hr>

 <div><i class="fas fa-check"></i> <p>  Give your assistant branded email @yourcompany.</p></div>
 <hr>

 <div><i class="fas fa-check"></i> <p>  Hours you don't use roll-over to next month.</p></div>
 <hr>






 <div><i class="fas fa-check"></i> <p>  Lifetime satisfaction guarantee.</p></div>


 </div>

   </div>



 </div>
   <!--  Wall  -->

<div class="bigwall row text-center" style="background-color: #464be1; padding:100px; margin-top:100px; width:100%; color:white; ">

  <div  style="font-size:25px; font-weight:bold;">Can't see what you're looking for?</div>
  <div class="mt-3" style="font-weight:bold; font-size:35px;">One size doesn't fit all</div>
<div class="mt-3" style="font-size:25px; font-weight:bold;">We're happy to build a custom plan around you. Just ask.</div>

<div class="mt-5">
<button class="btn btn-success btn-lg">Spean to an expert</button>
<button class="btn btn-dark btn-lg">Start free Trial</button>

</div>

</div>



<div class="container">

  <div style="margin-bottom: 100px;  text-align:center; font-size:35px; font-weight:bold" >Ace Consulting vs hiring </div>

<div class="threecol row row-cols-lg-3">

  <div>
                      <h1 class="mb-5">Consideration</h1>
                      <p>Monthly coost</p>
                      <hr>
                      <p>

                        Time to get up and running
                      </p>
                      <hr>
                      <p>

                        12 years average experience
                      </p>
                      <hr>
                      <p>Work with multiple assistants</p>
                      <hr>
                      <p>

                        Grow, shrink or cancel any time
                      </p>
                      <hr>
                      <p>

                        No hidden costs
                      </p>
                      <hr>
                      <p>

                        Holiday and sickness cover
                      </p>
                      <hr>
                      <p>

                        Complete satisfaction guarantee
                      </p>
                      <hr>
                      <p>

                        Replacement
                      </p>
                      <hr>
                      <p>

                        Free trial
                      </p>
                      <hr>
                    </div>


      <div class="mb-5 row justify-content-center align-items-center secondone">

        <h1 class="mb-5">Ace Consulting</h1>

    <div class="" > <p >$360+<p> </div>
      <hr>
      <div > <p >Instant<p> </div>
        <hr>
        <div > <p >included<p> </div>
          <hr>
          <div > <p >Yes(and it's free)<p> </div>
            <hr>
            <div > <p">Yes<p> </div>
              <hr>

              <div > <p >Yes<p> </div>
                <hr>
                <div > <p >Yes<p> </div>
                  <hr>
                  <div > <p >Yes<p> </div>
                    <hr>

                    <div > <p >Yes<p> </div>
                      <hr>


                      <div > <p >Yes<p> </div>
                        <hr>





      </div>


 <div class="third1">
  <h1 class="mb-5">Normal Hirring</h1>


  <div > <p >$3000+<p> </div>
    <hr>
    <div > <p >4-8 weeks<p> </div>
      <hr>


      <div > <p >Pay more<p> </div>
        <hr>


        <div > <p >No<p> </div>
          <hr>


          <div > <p >No<p> </div>
            <hr>



            <div > <p >Many Extra Costst<p> </div>
              <hr>



              <div > <p >No<p> </div>
                <hr>


                <div > <p >No<p> </div>
                  <hr>



                  <div > <p >diffcult<p> </div>
                    <hr>


                    <div > <p >No<p> </div>
                      <hr>



 </div>

</div>

<div class="mt-5 mb-5"><h1  class="text-center" style="font-weight:600">Things people often ask  us </h1></div>


<div style="background-color:rgb(243, 235, 235); border-radius: 10px; padding:20px;" class="row row-cols-lg-2">
      <div class="mb-5">
        <h3 style="font-weight: 600">How do I get matched to a Virtual Assistant?</h3>
          <p style="font-weight:bold">We'll find out about you and listen to your needs on a call together. Next, we'll suggest an assistant that meets your requirements. You'll be able to review their profile and speak to them before making your mind up. </p>
         <p style="font-weight:bold">In the unlikely event that our suggested assistant isn't quite right for you, we'll keep working until we find the perfect fit. In any case, you can always change your assistant, free of charge, if your needs change.</p>
      </div>



      <div class="mb-5">
        <h3 style="font-weight: 600">How do plans work?</h3>
          <p style="font-weight:bold">Your plan will include a set number of hours, covering the work your assistant will do for you. Your plan will renew automatically every month. You can easily change your plan or add extra hours to cover busy months. </p>
      </div>



      <div class="mb-5">
        <h3 style="font-weight: 600" >How do I know what my assistant has done for me?</h3>
          <p style="font-weight:bold">Your assistant keeps a running total of time (by the second) spent on your tasks. You can access it at any time by visiting your dashboard. </p>
      </div>





      <div class="mb-5">
        <h3 style="font-weight: 600" >Is there a satisfaction guarantee?</h3>
          <p style="font-weight:bold">Yes, you're always covered in the unlikely event that you're not completely satisfied. </p>
      </div>


      <div class="mb-5">
        <h3 style="font-weight: 600" >Is Time etc suitable for one-off tasks or projects?</h3>
          <p style="font-weight:bold">No, we're better suited to providing you with ongoing assistance. </p>
      </div>



      <div class="mb-5">
        <h3 style="font-weight: 600">How do I sign up?</h3>
          <p style="font-weight:bold">Book a call with a specialist who'll be able to get you up and running. If you prefer, try a virtual assistant for free by starting a free trial.  </p>
      </div>



      <div class="mb-5">
        <h3 style="font-weight: 600">Is there a setup fee?</h3>
          <p style="font-weight:bold">There's no setup fee. Just pay for your first month to get started. </p>
      </div>



      <div class="mb-5">
        <h3 style="font-weight: 600">What happens if I don't use all the hours included in my plan?</h3>
          <p style="font-weight:bold">The hours you don't use simply roll-over into your next month, so you won't miss out. </p>
      </div>



      <div class="mb-5">
        <h3 style="font-weight: 600">How easy is it to cancel or change my plan?</h3>
          <p style="font-weight:bold">It's very easy to cancel - there's no notice period and one email or call to our team is all it takes. You can grow or shrink your plan at a moments notice, at any time.  </p>
      </div>



      <div class="mb-5">
        <h3 style="font-weight: 600">Is my confidential information safe?</h3>
          <p style="font-weight:bold">All of our assistants have signed comprehensive Non-Disclosure Agreements, created by legal professionals, to protect your confidential information. In addition, we provide a highly secure environment, featuring bank-grade encryption, through which to exchange your information. If you are concerned about confidential information, please contact us for further reassurance. </p>
      </div>













</div>


</div>


<div class="bigwall row text-center" style="background-color: #376ad8; padding:100px; width:100%; color:white; ">

  <div  style="font-size:25px; font-weight:bold;">Ready to achieve more?  Try a virtual assistant for free</div>
<div class="mt-3" style="font-size:25px; font-weight:bold;">We'll do your first task for free. No credit card required.</div>

<div class="mt-5">
<button class="btn btn-dark btn-lg">Try Virtual Assistant Free</button>

</div>

</div>



<%- include("footer")  -%>
